<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <p>Código: {{code}}</p>
                <p>Precio: ${{price}}</p>
                <p>Disponibilidad: {{status ? 'Disponible' : 'No disponible'}}</p>
                <p>Stock: {{stock}}</p>
                <p>Categoría: {{category}}</p>
                <ul>
                    {{#each thumbnails}}
                        <li><img src="{{this}}" alt="Thumbnail"></li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>

    <!-- Formulario para agregar o eliminar productos (solo en realtimeProducts.handlebars) -->
    {{#if isRealTime}}
    <form id="product-form">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required>
        <label for="description">Descripción:</label>
        <input type="text" id="description" name="description" required>
        <button type="submit">Agregar Producto</button>
    </form>

    <form id="delete-product-form">
        <label for="product-id">ID del Producto a Eliminar:</label>
        <input type="text" id="product-id" name="product-id" required>
        <button type="submit">Eliminar Producto</button>
    </form>
    {{/if}}
</body>
</html>
